/* Custom Fonts */
@font-face {
	font-family: 'Agency FB';
	src: url('../fonts/agency-fb.ttf') format('truetype');
}

@font-face {
	font-family: 'Agency FB Bold';
	src: url('../fonts/agency-fb-bold.ttf') format('truetype');
}

/* Custom Colours */
:root {
	--RichBlack: #050505;
	--Blue: #3F88C5;
	--LightBlue: #97BDDA;
	--LightGrey: #EEF1EF;
	--Orange: #F18F01;
	--Red: #A4243B;
}

html,
body {
	/* Removes the page's margin/padding and makes it fill the whole browser. */
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	/* Turns the whole page into a flex box, so we can position the text horizontally/vertically. */
	display: flex;
	/* Options for settings below: flex-start (top/left), center, flex-end (bottom/right). */
	align-items: center;
	/* Aligns vertically centre. */
	justify-content: space-around;
	/* Aligns horizontally centre. */

	/* Change the default text font, size and colour. */
	font-family: 'Agency FB';
	color: white;
	font-size: 20px;
}

/* BACKGROUND IMAGE IS REMOVED, ADD IT IN OBS! */
/* Background image; settings can also be used for the foreground image. */
.backgroundImage {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

/* Basic flex container class which auto centres it's contents. */
.flexContainer {
	display: flex;
	align-items: center;
	/* Aligns vertically centre. */
	justify-content: center;
	/* Aligns horizontally centre. */
}

/* Image classes for logos. */
.playerContainer {
	color: var(--LightGrey);
	text-shadow: 3px 3px var(--RichBlack);
}

/* Space between player logo on left and player name text. */
.playerLogo {
	padding-right: 17px;
}

.nameContainer {
	text-align: center;
	margin-inline-start: .5em;
	margin-inline-end: .5em;
}

#runInfoContainer,
#timerInfoContainer{
	flex-direction: column;
	text-shadow: 3px 3px var(--RichBlack);
	text-align: center;
	font-size: 48px;
}

#runInfoContainer .flexContainer {
	margin-block-start: .25rem;
	margin-block-end: .25rem;
}

/* Text properties for game info */
#gameTitle {
	/* text-align: center; */
	font-family: "Agency FB Bold";
	font-size: 48px;
	color: var(--Orange);
	
}
#gameEstimate {
	/* text-align: center; */
	font-family: "Agency FB Bold";
	font-size: 36px;
	/* letter-spacing: 1px; */
	color: var(--LightGrey);
	
}
#gameEstimate:before { content: "Estimate: "; }

/* Different colours for each state the timer can be in. */
.timer {
	font-family: 'Agency FB';
	text-shadow: 3px 3px var(--RichBlack);
}
.timerContainer  {
	font-size: 96px;
	letter-spacing: -2px;
}

.timer_running {
	color: var(--Orange);
}

.timer_paused,
.timer_stopped {
	color: var(--Orange);
}

.timer_completed,
.timer_finished {
	color: #3F88C5;
}

.timer_forfeit {
	color: #A4243B;
}

#stayTuned {
	font-family: "Agency FB Bold"
}

/* Donation container */
.donationTotal {
	margin-top: 2px;
	font-size: 28px;
	color: white;
	-webkit-text-stroke: 2px black;
}