#backgroundImage {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('../../img/layouts/4-3\ triple.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

/* Player information stuff. */
.playerContainer .nameContainer {
	font-size: 48px;
}

.playerContainer[player-id="1"] {
	position: absolute;
	left: 12px;
	top: 637px;
	width: 380px;
	height: 120px;
}

.playerContainer[player-id="2"] {
	position: absolute;
	left: 650px;
	top: 637px;
	width: 380px;
	height: 120px;
}

.playerContainer[player-id="3"] {
	position: absolute;
	left: 1288px;
	top: 637px;
	width: 380px;
	height: 120px;
}

/* Run information stuff. */
#runInfoContainer {
	position: absolute;
	left: 745px;
	top: 833px;
	width: 430px;
	height: 215px;
}

#gameTitle {
	width: 100%;
}

#categoryContainer {
	font-size: 30px;
	width: 100%;
}

#estimateContainer {
	font-size: 24px;
	/* width: 50%; */
}

/* Timer stuff. */
.timerContainer[timer-id="1"] {
	position: absolute;
	left: 410px;
	top: 637px;
	width: 222px;
	height: 80px;
}

.timerContainer[timer-id="2"] {
	position: absolute;
	left: 1048px;
	top: 637px;
	width: 222px;
	height: 80px;
}

.timerContainer[timer-id="3"] {
	position: absolute;
	left: 1686px;
	top: 637px;
	width: 222px;
	height: 80px;
}

.timerContainer .timer {
	font-size: 64px;
	width: 100%;
	text-align: center;
}