@font-face {
	font-family: 'Agency FB Bold';
	src: url('../fonts/agency-fb-bold.ttf') format('truetype');
}

/* Custom Colours */
:root {
	--RichBlack: #050505;
	--Blue: #3F88C5;
	--LightBlue: #97BDDA;
	--LightGrey: #EEF1EF;
	--Orange: #F18F01;
	--Red: #A4243B;
}

#backgroundImage {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('../../img/layouts/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

#logo {
	position: fixed;
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
	background-image: url('../../img/logo-wide.png');
	background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
	width: 800px;
  height: 480px;
  z-index: 10;

	animation: moveOverlay 6s ease-in-out 0s infinite alternate;
}

#logo:after {
  font-family: "Agency FB Bold";
  font-size: 144px;
  color: white;
  text-shadow: 3px 3px 10px rgba(0,0,0,.8);
  -webkit-text-stroke: black 1.5px;
  padding-block-start: .5em;
  content: "2020";
}

@keyframes moveOverlay {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: translateY(20px);
	}
}

#jokeContainer {
	position: absolute;
	left: 38vw;
	bottom: 300px;
	width: 600px;
	height: 80px;

	text-align: center;
	color: white;
	font-size: 42px;
	letter-spacing: -2px;
	-webkit-text-stroke: 2px black;

	animation: rotateJoke 12s ease-in-out 0s infinite alternate;
}

@keyframes rotateJoke {
	0% {
		transform: rotateZ(-1deg) scale(0.975);
	}
	25% {
		transform: rotateZ(0deg) scale(1.025);
	}
	50% {
		transform: rotateZ(1deg) scale(0.975);
	}
	75% {
		transform: rotateZ(0deg) scale(1.025);
	}
	100% {
		transform: rotateZ(-1deg) scale(0.975);
	}
}